<div class="container">

     <div class="row">
        <div class="col m12 truncate">
            <h1>Recent News Stories</h1>
        </div>
    </div>
    <div class="row">

        <div class="col m12">
             {{#each article}}
            <div class="card indigo lighten-1">
               
                <div class="card-content white-text">
                            <span class="card-title left-align">
                             <h5>
                            <a href={{link}}>{{title}}</h5>
                            </a>
                            </span>
                            <p class="line-clamp-3">{{summary}}</p>
                            <br>
                            <p>{{byline}}</p>
                            <p>{{dateWritten}}</p>

                    <div class="card-action center">

                            <a class="waves-effect red waves-light btn" data-id={{_id}} href="#">
                                <i class="fas fa-heart"></i></a>
                            <a class= " waves-effect red waves-light btn" href="/makecomment/:{{_id}}">
                                <i class="fas fa-comment"></i></a>
                            <a class="waves-effect red  waves-light btn" href="/delete/:{{_id}}">
                                <i class="fas fa-trash"></i></a>
                         

                                       
                            

                    </div>
            
                </div>
            </div>
                {{/each}}
         </div>
              
    </div>
</div>

